@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Smooch+Sans:wght@700&display=swap');

.content {
    padding-top: 130px;
    margin-left: 30px;
}

h1 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans';
    margin-top: 15px;
}

h2 {
    color: #065C9E;
    font-family: 'Open Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}

.purchase {
    color: #065C9E;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.brandLogo {
    display: flex;
    justify-content: space-around;
    width: 392px;
}