@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&family=Smooch+Sans:wght@700&display=swap');

.content {
    padding-top: 90px;
    margin-left: 30px;
}

.top {
    margin: 0px 0px 0px 78px;
}

h1 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans';
    margin-top: 15px;
}

h2 {
    color: #065C9E;
    font-family: 'Smooch Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}

.contentBody {
    display: flex;
    justify-content: space-around;
}

.brandLogo {
    display: flex;
    justify-content: space-around;
    width: 338px;
}

a :hover {
    background-color: #065C9E;
}

.purchase {
    color: #065C9E;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.stock {
    color: #065C9E;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 0px 0px 37px 0px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box1 {
    width: 312px;
    height: 112px;
    border-radius: 12px;
    background: #A7CDEA;
    margin-bottom: 20px;
}

.box2 {
    width: 312px;
    height: 112px;
    border-radius: 12px;
    background: #A7CDEA;
    margin-bottom: 20px;
}

.box3 {
    width: 312px;
    height: 112px;
    border-radius: 12px;
    background: #A7CDEA;
    margin-bottom: 20px;
}



.nameCar {
    color: white;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

