li {
    list-style-type: none;
}

nav {
    position: fixed;
    margin: 0px 2px;
    width: 100%;
    z-index: 1000;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EFF0F6;
    overflow: hidden;
    padding: 15px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.button {
    border-radius: 40%;
    border: 2px solid #EFF0F6;
    width: 140px;
    height: 36px;
    stroke: #EFF0F6;
    background-color: white;
    padding: 8px;
    display: flex;
    align-items: center;
    text-align: center;
}

.profil {
    background-color: #065C9E;
    border-radius: 90%;
    width: 49px;
    height: 52px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

.profil img {
    margin: auto;
}

.chevron {
    margin: 28px;
}